@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer components {
    ::selection {
        background: white;
        color: black;
    }

    .header-nav-link {
      @apply inline transition-colors text-black hover:text-neutral-600 text-lg font-bold leading-[60px] ml-4;
    }

    h2 {
        @apply block my-10 text-neutral-700 text-center text-4xl font-black
    }
  }